@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-slate-200;
  }
  
  body {
    @apply bg-white text-slate-900;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
